// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap";

.bg-transparent { background-color: transparent; }
::selection { color: color-contrast($primary); background: var(--#{$prefix}primary); }
::-webkit-scrollbar { width: 14px;height: 14px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-track-piece { background: transparent; }
::-webkit-scrollbar-thumb {
  background: var(--#{$prefix}gray-200);
  border-radius: 7px;
  border: 3px solid transparent;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background:var(--#{$prefix}primary);
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
