// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Colors
$blue: #0d6efd;
$green: #198754;
$cyan: #0dcaf0;
$yellow: #ffc107;
$red: #dc3545;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$orange: #fd7e14;
$teal: #20c997;

// Tints
$white: #fff;
$black: #000;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-100: tint-color($gray, 80%) !default;
$gray-200: tint-color($gray, 60%) !default;
$gray-300: tint-color($gray, 40%) !default;
$gray-400: tint-color($gray, 20%) !default;
$gray-500: $gray !default;
$gray-600: shade-color($gray, 20%) !default;
$gray-700: shade-color($gray, 40%) !default;
$gray-800: shade-color($gray, 60%) !default;
$gray-900: shade-color($gray, 80%) !default;

// Bootstrap
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// Variable overrides second
$enable-shadows: true;
$prefix: "bs-";
$body-color: $dark;
$body-bg: $white;
$spacer: 1rem;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-grid-classes: true;
$enable-caret: true;
$enable-print-styles: true;
$font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

// Theme Variables
$blue: #2c8ef8;
$indigo: #727cf5;
$purple: #6b5eae;
$pink: #ff679b;
$red: #fa5c7c;
$orange: #fd7e14;
$yellow: #ffc35a;
$green: #0acf97;
$teal: #02a8b5;
$cyan: #39afd1;
$white: #fff;
$gray: #8a969c;
$gray-dark: #343a40;
$gray-100: #f6f7fb;
$gray-200: #eef2f7;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #a1a9b1;
$gray-600: #8a969c;
$gray-700: #6c757d;
$gray-800: #343a40;
$gray-900: #313a46;
$primary: #727cf5;
$secondary: #6c757d;
$success: #0acf97;
$info: #39afd1;
$warning: #ffc35a;
$danger: #fa5c7c;
$light: #eef2f7;
$dark: #313a46;
$primary-rgb: 114,124,245;
$secondary-rgb: 108,117,125;
$success-rgb: 10,207,151;
$info-rgb: 57,175,209;
$warning-rgb: 255,195,90;
$danger-rgb: 250,92,124;
$light-rgb: 238,242,247;
$dark-rgb: 49,58,70;
$white-rgb: 255,255,255;
$black-rgb: 0,0,0;
$body-color-rgb: 108,117,125;
$body-bg-rgb: 250,251,254;
$font-sans-serif: "Nunito",sans-serif;
$font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$body-font-family: Nunito,sans-serif;
$body-font-size: 0.9rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-color: #6c757d;
$body-bg: #fafbfe;
$mark-bg: #fcf8e3;
$border-width: 1px;
$border-style: solid;
$border-color: #dee2e6;
$border-color-translucent: rgba(0, 0, 0, 0.175);
$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;
$link-color: #727cf5;
$link-hover-color: #6169d0;
$code-color: #39afd1;
$highlight-bg: $mark-bg;
$gray-100: #404954;
$gray-200: #37404a;
$gray-300: #464f5b;
$gray-400: #8391a2;
$gray-500: #aab8c5;
$gray-600: #ced4da;
$gray-700: #dee2e6;
$gray-800: #e3eaef;
$gray-900: #f1f1f1;
$body-bg: #343a40;
$body-color: #aab8c5;
$light: #404954;
$dark: #f1f1f1;
$border-color: #464f5b;
$box-shadow: 0px 0px 35px 0px rgba(49, 57, 66, 0.5);
$box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
$box-shadow-lg: 0 0 45px 0 rgba(0, 0, 0, 0.12);
$box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
$component-active-color: #fff;
$component-active-bg: #727cf5;
$text-muted: #8391a2;
$blockquote-footer-color: #ced4da;
$form-text-color: $text-muted;
$input-bg: #404954;
$input-disabled-bg: #37404a;
$input-color: #e3eaef;
$input-border-color: #4a525d;
$input-box-shadow: $box-shadow-inset;
$input-focus-bg: #464f5b;
$input-focus-border-color: #555f6b;
$input-focus-color: $input-color;
$input-placeholder-color: #8391a2;
$input-plaintext-color: #6c757d;
$form-check-input-border: 1px solid #8391a2;
$form-check-input-checked-color: $component-active-color;
$form-check-input-checked-bg-color: $component-active-bg;
$form-check-input-checked-border-color: $form-check-input-checked-bg-color;
$form-check-input-indeterminate-color: $component-active-color;
$form-check-input-indeterminate-bg-color: $component-active-bg;
$form-check-input-indeterminate-border-color: $component-active-bg;
$form-switch-color: tiny-color(#464f5b, 6%);
$input-group-addon-color: $input-color;
$input-group-addon-bg: #48515d;
$input-group-addon-border-color: $input-border-color;
$form-select-color: $input-color;
$form-select-bg: $input-bg;
$form-select-disabled-color: #ced4da;
$form-select-disabled-bg: #37404a;
$form-select-indicator-color: #e3eaef;
$form-range-track-bg: #464f5b;
$form-range-track-box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, 0.1);
$form-range-thumb-box-shadow: 0 .1rem .25rem rgba(0, 0, 0, 0.1);
$form-range-thumb-active-bg: #d5d8fc;
$form-range-thumb-disabled-bg: #aab8c5;
$form-file-button-color: $input-color;
$form-file-button-bg: #48515d;
$form-file-button-hover-bg: #434b56;
$thumbnail-bg: #464f5b;
$thumbnail-border-color: #464f5b;
$thumbnail-box-shadow: $box-shadow-sm;
$btn-close-color: #e3eaef;
$kbd-color: #fff;
$kbd-bg: #f1f1f1;
$pre-color: #aab8c5;
$bg-leftbar: #3a444e;
$menu-item: #cedce4;
$menu-item-hover: #fff;
$menu-item-active: #fff;
$bg-topbar: #3a444e;
$bg-topbar-search: #464f5b;
$nav-user-bg-topbar: #464f5b;
$nav-user-border-topbar: #404954;
$notification-border-color: #464f5b;
$notification-bg: #464f5b;
$bg-dark-topbar: #8f75da;
$bg-dark-topbar-search: rgba(255, 255, 255, 0.1);
$nav-user-bg-dark-topbar: rgba(255, 255, 255, 0.1);
$nav-user-border-dark-topbar: rgba(255, 255, 255, 0.15);
$bg-leftbar-gradient: linear-gradient(135deg, #8f75da 0, #727cf5 60%);
$bg-topnav: linear-gradient(to bottom, #8f75da, #727cf5);
$boxed-layout-bg: #3e4853;
$help-box-light-bg: rgba(255, 255, 255, 0.1);
$help-box-dark-bg: #727cf5;
$nav-pills-bg: #404954;
$custom-accordion-title-color: #8391a2;
$dragula-bg: #404954;
$form-wizard-header-bg: #404954;
$text-title-color: #fff;
$page-title-color: #fff;
$card-loader-bg: #f1f1f1;
$chat-primary-user-bg: #404954;
$chat-secondary-user-bg: #404954;
$auth-bg: #404954;
$apex-grid-color: #404954;
$hero-bg: linear-gradient(to bottom, #697ded, #5e30c1);
$display-dark: none;
$display-light: block;

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/forms";

$grayes: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
) !default;

$light-100: shade-color($light, 10%) !default;
$light-200: shade-color($light, 20%) !default;
$light-300: shade-color($light, 30%) !default;
$light-400: shade-color($light, 40%) !default;
$light-500: shade-color($light, 50%) !default;
$light-600: shade-color($light, 60%) !default;
$light-700: shade-color($light, 70%) !default;
$light-800: shade-color($light, 80%) !default;
$light-900: shade-color($light, 90%) !default;

$lights: (
  "light-100": $light-100,
  "light-200": $light-200,
  "light-300": $light-300,
  "light-400": $light-400,
  "light-500": $light-500,
  "light-600": $light-600,
  "light-700": $light-700,
  "light-800": $light-800,
  "light-900": $light-900
) !default;

$dark-100: tint-color($dark, 90%) !default;
$dark-200: tint-color($dark, 80%) !default;
$dark-300: tint-color($dark, 70%) !default;
$dark-400: tint-color($dark, 60%) !default;
$dark-500: tint-color($dark, 50%) !default;
$dark-600: tint-color($dark, 40%) !default;
$dark-700: tint-color($dark, 30%) !default;
$dark-800: tint-color($dark, 20%) !default;
$dark-900: tint-color($dark, 10%) !default;

$darks: (
  "dark-100": $dark-100,
  "dark-200": $dark-200,
  "dark-300": $dark-300,
  "dark-400": $dark-400,
  "dark-500": $dark-500,
  "dark-600": $dark-600,
  "dark-700": $dark-700,
  "dark-800": $dark-800,
  "dark-900": $dark-900
) !default;

$primary-100: tint-color($primary, 80%) !default;
$primary-200: tint-color($primary, 60%) !default;
$primary-300: tint-color($primary, 40%) !default;
$primary-400: tint-color($primary, 20%) !default;
$primary-500: $primary !default;
$primary-600: shade-color($primary, 20%) !default;
$primary-700: shade-color($primary, 40%) !default;
$primary-800: shade-color($primary, 60%) !default;
$primary-900: shade-color($primary, 80%) !default;

$primaries: (
  "primary-100": $primary-100,
  "primary-200": $primary-200,
  "primary-300": $primary-300,
  "primary-400": $primary-400,
  "primary-500": $primary-500,
  "primary-600": $primary-600,
  "primary-700": $primary-700,
  "primary-800": $primary-800,
  "primary-900": $primary-900
) !default;

$secondary-100: tint-color($secondary, 80%) !default;
$secondary-200: tint-color($secondary, 60%) !default;
$secondary-300: tint-color($secondary, 40%) !default;
$secondary-400: tint-color($secondary, 20%) !default;
$secondary-500: $secondary !default;
$secondary-600: shade-color($secondary, 20%) !default;
$secondary-700: shade-color($secondary, 40%) !default;
$secondary-800: shade-color($secondary, 60%) !default;
$secondary-900: shade-color($secondary, 80%) !default;

$secondaries: (
  "secondary-100": $secondary-100,
  "secondary-200": $secondary-200,
  "secondary-300": $secondary-300,
  "secondary-400": $secondary-400,
  "secondary-500": $secondary-500,
  "secondary-600": $secondary-600,
  "secondary-700": $secondary-700,
  "secondary-800": $secondary-800,
  "secondary-900": $secondary-900
) !default;

$success-100: tint-color($success, 80%) !default;
$success-200: tint-color($success, 60%) !default;
$success-300: tint-color($success, 40%) !default;
$success-400: tint-color($success, 20%) !default;
$success-500: $success !default;
$success-600: shade-color($success, 20%) !default;
$success-700: shade-color($success, 40%) !default;
$success-800: shade-color($success, 60%) !default;
$success-900: shade-color($success, 80%) !default;

$successes: (
  "success-100": $success-100,
  "success-200": $success-200,
  "success-300": $success-300,
  "success-400": $success-400,
  "success-500": $success-500,
  "success-600": $success-600,
  "success-700": $success-700,
  "success-800": $success-800,
  "success-900": $success-900
) !default;

$info-100: tint-color($info, 80%) !default;
$info-200: tint-color($info, 60%) !default;
$info-300: tint-color($info, 40%) !default;
$info-400: tint-color($info, 20%) !default;
$info-500: $info !default;
$info-600: shade-color($info, 20%) !default;
$info-700: shade-color($info, 40%) !default;
$info-800: shade-color($info, 60%) !default;
$info-900: shade-color($info, 80%) !default;

$infos: (
  "info-100": $info-100,
  "info-200": $info-200,
  "info-300": $info-300,
  "info-400": $info-400,
  "info-500": $info-500,
  "info-600": $info-600,
  "info-700": $info-700,
  "info-800": $info-800,
  "info-900": $info-900
) !default;

$warning-100: tint-color($warning, 80%) !default;
$warning-200: tint-color($warning, 60%) !default;
$warning-300: tint-color($warning, 40%) !default;
$warning-400: tint-color($warning, 20%) !default;
$warning-500: $warning !default;
$warning-600: shade-color($warning, 20%) !default;
$warning-700: shade-color($warning, 40%) !default;
$warning-800: shade-color($warning, 60%) !default;
$warning-900: shade-color($warning, 80%) !default;

$warnings: (
  "warning-100": $warning-100,
  "warning-200": $warning-200,
  "warning-300": $warning-300,
  "warning-400": $warning-400,
  "warning-500": $warning-500,
  "warning-600": $warning-600,
  "warning-700": $warning-700,
  "warning-800": $warning-800,
  "warning-900": $warning-900
) !default;

$danger-100: tint-color($danger, 80%) !default;
$danger-200: tint-color($danger, 60%) !default;
$danger-300: tint-color($danger, 40%) !default;
$danger-400: tint-color($danger, 20%) !default;
$danger-500: $danger !default;
$danger-600: shade-color($danger, 20%) !default;
$danger-700: shade-color($danger, 40%) !default;
$danger-800: shade-color($danger, 60%) !default;
$danger-900: shade-color($danger, 80%) !default;

$dangers: (
  "danger-100": $danger-100,
  "danger-200": $danger-200,
  "danger-300": $danger-300,
  "danger-400": $danger-400,
  "danger-500": $danger-500,
  "danger-600": $danger-600,
  "danger-700": $danger-700,
  "danger-800": $danger-800,
  "danger-900": $danger-900
) !default;

// Adding colors
$custom-colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$all-colors: map-merge-multiple($theme-colors, $lights, $darks, $primaries, $secondaries, $successes, $infos, $warnings, $dangers, $grayes, $blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

@each $color, $value in $theme-colors {
  .bg-#{$color}{
    background-color: $value !important;
    color: color-contrast($value) !important;
  }
  .text-#{$color}{ color: $value !important; }
  .link-#{$color} { color: $value !important; }
  .link-#{$color}:hover, .link-#{$color}:focus { color: shade-color($value, 40%) !important; }
  .link-#{$color}:focus { box-shadow: 0 0 0 3px rgba($value, .5)!important; border-radius: 4px; }
  .border-#{$color} { border-color: $value !important; }
  .glow-#{$color} { box-shadow:0px 0px 8px 0px $value; }
  .btn-#{$color} { color: color-contrast($value)!important;background-color: $value;border-color: $value; }
  .btn-#{$color}:hover { color: color-contrast(shade-color($value, 40%))!important;background-color: shade-color($value, 40%);border-color: shade-color($value, 40%); }
  .btn-outline-#{$color} { color: $value;border-color: $value; }
  .btn-outline-#{$color}:hover { background-color: $value;color: color-contrast($value) !important }
  .pace-#{$color} .pace .pace-progress { color: #{$color};background: #{$color}; }
  .app-loading.pace-#{$color} .pace .pace-activity { box-shadow: inset 0 0 0 2px #{$color}, inset 0 0 0 7px $body-bg; }
  .app-loaded.pace-#{$color} .pace .pace-progress { box-shadow:0px 0px 8px 0px #{$color}; }
  .form-control-#{$color} { color: tint-color($value,40%)!important; background-color: tint-color($value,20%)!important; border-color: tint-color($value,20%)!important; }
  .form-control-#{$color}:focus { box-shadow: 0 0 0 3px rgba($value, .5)!important;background-color: tint-color($value,90%)!important;color: color-contrast(tint-color($value,90%))!important; }
}

@each $color, $value in $all-colors {
  .bg-#{$color}{
    background-color: $value !important;
    color: color-contrast($value) !important;
  }
  .text-#{$color}{ color: $value !important; }
  .link-#{$color} { color: $value !important; }
  .link-#{$color}:hover, .link-#{$color}:focus { color: shade-color($value, 40%) !important; }
  .link-#{$color}:focus { box-shadow: 0 0 0 3px rgba($value, .5)!important; border-radius: 4px; }
  .border-#{$color} { border-color: $value !important; }
  .glow-#{$color} { box-shadow:0px 0px 8px 0px $value; }
  .btn-#{$color} { color: color-contrast($value)!important;background-color: $value;border-color: $value; }
  .btn-#{$color}:hover { color: color-contrast(shade-color($value, 40%))!important;background-color: shade-color($value, 40%);border-color: shade-color($value, 40%); }
  .btn-outline-#{$color} { color: $value;border-color: $value; }
  .btn-outline-#{$color}:hover { background-color: $value;color: color-contrast($value) !important }
  .pace-#{$color} .pace .pace-progress { color: #{$color};background: #{$color}; }
  .app-loading.pace-#{$color} .pace .pace-activity { box-shadow: inset 0 0 0 2px #{$color}, inset 0 0 0 7px $body-bg; }
  .app-loaded.pace-#{$color} .pace .pace-progress { box-shadow:0px 0px 8px 0px #{$color}; }
  .form-control-#{$color} { color: tint-color($value,40%)!important; background-color: tint-color($value,20%)!important; border-color: tint-color($value,20%)!important; }
  .form-control-#{$color}:focus { box-shadow: 0 0 0 3px rgba($value, .5)!important;background-color: tint-color($value,90%)!important;color: color-contrast(tint-color($value,90%))!important; }
}

@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap";

.bg-transparent { background-color: transparent; }
::selection { color: color-contrast($primary); background: $primary; }
::-webkit-scrollbar { width: 14px;height: 14px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-track-piece { background: transparent; }
::-webkit-scrollbar-thumb {
  background: $gray-200;
  border-radius: 7px;
  border: 3px solid transparent;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
